@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --verde: #16a34a;
  --verde-claro: #dcfce7;
  --rojo: #dc2626;
  --azul: #2563eb;
  --gris: #f8fafc;
  --borde: #e2e8f0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--gris);
}

.btn-verde {
  background-color: var(--verde);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  transition: all 0.2s;
}

.btn-verde:hover { background-color: #15803d; }

.btn-rojo {
  background-color: var(--rojo);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s;
}

.card {
  background: white;
  border-radius: 12px;
  border: 1px solid var(--borde);
  padding: 20px;
}